.fullProfileContainer{
    background-color: transparent;
    color: white;
    height: auto;
    width: 100%;
    padding-top: 10vh;
}
.fullProfileCard{
    border-color: #007fbb;
    border-width: 4px;
    background-color: transparent;
    border-radius: 5px;
    width: 90%;
    padding: 5%;
    margin-left: 5%;
   
}
.userIconProfile{
    height:"25px";
    width:"25px";
    color: #007fbb;

}
.userIconProfile2{
    color: #ffc107;
}
.userIconProfile3{
    color: white;
}
