.carousel{
  height: 95vh;
  background-color: black;
}
img{
  height: 95vh;
}
.followUs{
  margin-top: -150px;
  float: right;
  margin-right: 10px;
  position: none;
}
/* media */
@media (min-width:700px){
  .carousel-control-next{
    left: 5vh;
    top: 80vh;
    height: 7vh;
    padding-right: 10px;
    width: 7vh;
    background-color: black;
    border-radius: 10px;
  }
  .carousel-control-prev{
    left: 5vh;
    height: 7vh;
    width: 7vh;
    top: 70vh;
    padding-right: 10px;
    background-color: black;
    border-radius: 10px;
  }
}
@media (max-width:900px){
  .followUs{
    margin-top: -150px;
    float: right;
    margin-right: 5px;
    position: none;
  }
}
@media (max-width:700px){
  .carousel{
    height: 50vh;
  }
  img{
    height: 50vh;
  }
  .followUs{
    display: none;
  }
}
@media (max-width:515px){
  .carousel{
    height: 50vh;
  }
  img{
    height: 50vh;
  }
  .followUs{
    display: none;
  }
}
