.personalDetailsContainer{
    width: 60%;
    height: 850px;
    background-color: #292727;    
    margin-top: 0px;
    padding-top: 5%;
    background-color: transparent;
    
}
.personalDetailsTitle{
    color: #007bff;
    font-size: 25px;
    text-align: center;
    top: 10px;
}
.personalDetailsSubContainer{
    background-color: #292727;
    margin-top: 40px;
    height: 650px;
    color: white;
    background-color: transparent;
}
.personalDetailsGenderTitle{
    margin: 10px 10px 0px 18px;
}
.personalDetailsTitleRow{
   margin-top: -20px;
}
.personalDetailsFirstNameRow
{
   margin-top: 2px;
}
.personalDetailsFirstNameTitle{
    margin: 10px 10px 0px 18px;
}
