.detailsContainer{
    background-color: transparent;
    color: white;
    height: 100vh;
    width: 100%;
    padding-top: 10vh;
}
.detailsCardStyle{
    background-color: transparent;
    border-color: #61dafb;
    border-width: 2px;
    height: auto;
    text-align: center;
    color: white;
    padding: 5vh;
}
.detailsImage {
    height: 20vh;
    width: 20vh;
}
