.loaderContainer{
    background-color: transparent;
    color: white;
    height: 200vh;
    width: 100%;
    padding-top: 10vh;
}
.loaderCard{
    background-color: transparent;
    margin-top: 30vh;
    padding-left: 50vh;
}
.spinnerBorder {
    color: #007fbb;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-left: 15vh;
    margin-bottom: 5vh;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
}