.languageCard{
    background-color: #292727;
    height: 180px;
    width: 180px;
    border-bottom-width: 4px;
    border-top-left-radius: 0;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.progressBar{
    margin:10px 18px 10px 0px;
    
}