.mainSCard{
    background-color: #000000;
    height: 180px;
    width: 140px;
    border-bottom-color:yellow;
    border-bottom-width: 4px;
    border-top-left-radius: 0;
    border-radius: 0;
    margin:10px;
}
.cardSIcon{
    height: 50px;
    width: 50px;
    color: yellow;
    margin-left: 30px;
    margin-top: 30px;
}
.cardSTitle{
    margin: 20px 0px 0px 0px;
    font-weight: 600;
    color: yellow;
}