.generalAwardCardMain{
    height: 350px;
    width: 250px;
    background-color: #3a3838;
    border-radius: 0px;
    margin-bottom: 20px;
}
.gCardTitle{
    font-size: 50px;
    color: white;
    text-align: left;
    margin-top: 30px;
    margin-left: 40px;
    font-style: bold;
    font-weight: 700;
}
.gCardSubTitle{
    font-size: 25px;
    color: white;
    text-align: left;
    margin-left: 40px;
    font-weight: 700;
}
.gCardText{
    font-size: 17.5px;
    text-align: left;
    margin-left: 40px;
    margin-right: 15px;
    margin-top: 15px;
    color: #b9b6b6;
}