.failureCard{
    background-color: transparent;
    border-color: #61dafb;
    width: 600px;
    height: 200px;
    border-radius: 5px;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

}
.failureContainer{
    background-color: transparent;
    color: white;
    height: 100vh;
    width: 100%;
    padding-top: 10vh;
}
.loginFailedTitle{
    color: white;
    font-size: 25px;
    text-align: left;
    
}

.loginFailedText{
    color: white;
    font-size: 18px;
    text-align: left;
    margin-top: 20px;

}
.failureButton{
    text-align: right;
    margin-top: 15px;
    align-self: flex-end;
}