@import '../../../assets/colors/_colors.css'; 

.loginSignupContainer{
    height: 95vh;
    width: 100%;
    padding-top:200px;
}
.loginSignupCardStyle{
    width: 30rem;
    height: 28rem;
    margin-left:auto;
    margin-right:auto;
    background-color: black;
    border-width: 2px;
    border-color: #61dafb;
    border-radius: 5px;
}
.tabsContainer{
    align-self: center;
    margin-left: 35px;
    margin-top: 30px;
}
.nav-tabs .nav-link{
    color:  #61dafb;
    background-color: rgba(160, 179, 176, 0.25); 
}
.nav-tabs .nav-link.active{
    background-color: #61dafb;
    color: black;
}
.inputSize{
    padding-left: 50px;
    margin-right: 0px;
    margin-top: 60px;
}
.submitButton{
    width: 80%;
    background-color: #61dafb;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.loginSpinnerBorder {
    color: #61dafb;
    display: inline-block;
    margin-left: 15vh;
    margin-bottom: 5vh;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
}
@media( max-width:900px ){
    .loginSignupContainer{
        height: 95vh;
        width: 100%;
        padding-top:300px;
    }
    .cardStyle{
        width: 25rem;
        height: 25rem;
        margin-left:auto;
        margin-right:auto;
        background-color: rgba(19, 35, 47, 0.9);
    }
    .tabsContainer{
        align-self: center;
        margin-left: 35px;
        margin-top: 30px;
    }
}
@media( max-width:700px ){
    .loginSignupContainer{
        height: 95vh;
        width: 100%;
        padding-top:100px;
    }
    .cardStyle{
        width: 25rem;
        height: 25rem;
        margin-left:auto;
        margin-right:auto;
        background-color: rgba(19, 35, 47, 0.9);
    }
    .tabsContainer{
        align-self: center;
        margin-left: 35px;
        margin-top: 30px;
    }
}
@media( max-width:435px ){
    .loginSignupContainer{
        height: 95vh;
        width: 100%;
        padding-top:100px;
    }
    .cardStyle{
        width: 20rem;
        height: 25rem;
        margin-left:auto;
        margin-right:auto;
        background-color: rgba(19, 35, 47, 0.9);
    }
    .tabsContainer{
        align-self: center;
        margin-left: 20px;
        margin-top: 30px;
    }
}
@media( max-width:335px ){
    .loginSignupContainer{
        height: 95vh;
        width: 100%;
        padding-top:100px;
    }
    .cardStyle{
        width: 15rem;
        height: 25rem;
        margin-left:auto;
        margin-right:auto;
        background-color: rgba(19, 35, 47, 0.9);
    }
    .tabsContainer{
        align-self: center;
        margin-left: 25px;
        margin-top: 30px;
    }
}
