.smallCardContainer{
    width:750px;
    background-color: black;
    margin-bottom: 20px;
    border-radius: 0px;
    margin-left: 135.5px;
}
.iconBorderColorCol{
    outline-color: rgb(138, 138, 138);
    
}
.pencilIcon{
    color:#61dafb;
    height:30px;
    width:25px;
    margin: 12px 5px 0px 5px ;
}
.plusIcon{
    color:#61dafb;
    height:30px;
    width:25px;
    margin: 5px ;
    
}
.headingTitle{
    color: white;
}
.titleStyle{
    color: white;
    font-size: 15px;
}
.courseTitle{
    color: white;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    margin-top: 12px;
}
.schoolText{
    color:rgb(112, 110, 110);
}
.yearText{
    color:rgb(112, 110, 110);
    margin-top: -15px;
}
.descriptionText{
    color: rgb(87, 85, 85);
    text-align: left;
}