:root{
    --primary : #61dafb;
    --lightBlack : #282c34;
    --white: #fff;
    --darkBlack: #20232a;
    --ash: #393939;
    --danger: #fa7864;
    --warning: #f4a460;
    --facebook: #3b5998;
    --linkedIn: #0e76a8;
    --google: #4885ed;
}