.schoolContainer{
    width: 80%;
    background-color: #3a3838;    ;
    margin-top: 40px;
}
.titleStyle{
    color: #0014cc;
    font-size: 25px;
    text-align: center;
}
.titleSchool{
    color: #61dafb;
    margin: 10px 20px 0px 20px;
    font-size: 20px;
}
.formSchoolRow{
    margin-bottom: -20px;
}
.formSchoolRow2{
    margin-bottom: 10px;
    margin-top: -20px;
}
.formSchool{
    margin-top: 10px;
}
.gradeTitle{
    color: #0014cc;
    font-size: 20px;
    margin-left: 2px;
    margin-top: 4px;
}
